$light-bg-color: #e9f0f5;

$normal-comp-color: #ffffff;
$accent-comp-color: #d7e4ed;
$dark-comp-color: #2c3e50;

$main-font-color: #2d3442;
$light-font-color: #99a6bc;
$lighten-font-color: #ffffff;

$md-padding: 15px;
$md-gap: $md-padding;
$md-line-height: 1em;
$sm-font-size: 0.8em;
$md-font-size: 1em;
$lg-font-size: 2em;
$xlg-font-size: 4em;

$transition: 0.2s;

$tablet-width: 768px;
$laptop-width: 960px;
$desktop-width: 1600px;

$sw-background: url(~/assets/images/stars.png) repeat top center, linear-gradient(147deg, #000000 0%, #2c3e50 74%);
$sw-letter-spacing: 15px;
$sw-font-family: 'Arial Black';

